# Python Bytecode
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Virtual Environment
venv/
myenv/

# Database (SQLite by default with Django)
*.sqlite3
db.sqlite3

# Media Files (You might want to keep media under version control depending on your use case)
media/

# Static Files (Again, depending on your setup and use case)
# static/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Backup Files
*.bak

# IDE-specific (for example, if you're using PyCharm)
.idea/
*.iml

# Environment Variables (if you have a .env file for `python-decouple`, `django-environ`, etc.)
.env
